<a href="https://colab.research.google.com/github/salman98er/Python_Projects/blob/main/Conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Conditions

In [ ]:
print('Do you like apples?')
q = input('Do you like apples')
if q == 'yes':
    print("purchase 2 kgs of apples")
if q == 'no':# colons tells that if has a statment next to if 
    print('you dont purchase apples')

Do you like apples?
Do you like applesno
you dont purchase apples

In [ ]:
a = int(input("enter a number"))
if a > 5:  # 0 and! are false
     print('a is greater than 5')
     print('this is the info we needed')
     print('with this poer,comes great responsibility')
print('the end')

enter a number2
the end

In [ ]:
temp = float(input("what is the temprature"))
if temp > 70:
  print('wear shorts')
else:
   print('wear long pants')
print("get some excercise") # this line is not associated with any conditions

what is the temprature100
wear shorts
get some excercise

In [ ]:
score = int(input("your score ->"))
if score >= 90:
   letter = 'A'
elif score >= 80:
    letter >="B"
elif score >=70:
     letter = 'C'
elif score >= 60:
     letter = "D"
else:
    letter = "f"
print(letter)

your score ->99
A

# ONE LINE ALTERNATIVES

In [ ]:
if 42 in range(100): print('42')

42

In [ ]:
x = 'Alice'if 'Jon'in 'My name is Jonas' else 'Bob'
print(x)

Alice

In [ ]:
print("42") if 42 in [22,33,44] else print('21')

21

In [ ]:
print('yellow') if 'y' in 'orange' else print('brown')

brown

In [2]:
a = int(input('enter a no'))
if a%2 == 0:
   print("it's a even number")
else:
  print("it's a odd number")

enter a no97
it's a odd number

In [4]:
a =  [12,43,54,67]
b = [12,43,54,67]
if a==b:
  print('list are same')
else:
  print('list sre not same')

list are same

In [5]:
c = [12,34,56,78]
d = [22,33,44,56]
if c==d:
   print("list is same")
else:
  print('list is not same')

list is not same