In [1]:
def check():
    print('this is a simple function')

In [2]:
check()

this is a simple function

In [4]:
check()
check()
check()

this is a simple function
this is a simple function
this is a simple function

In [5]:
def divide(a,b):  #function parameter
    ans = a/b
    print(ans)

In [6]:
divide(10,5)

2.0

In [7]:
def divide(a,b):  #function parameter
    ans = 10/20
    print(ans)

In [8]:
divide(10,5)

0.5

In [10]:
divide(10,5,8)

TypeError: divide() takes 2 positional arguments but 3 were given

In [11]:
divide(10)

TypeError: divide() missing 1 required positional argument: 'b'

In [14]:
def update_salary(old_salary):
    new_salary = old_salary+old_salary*.08
    print(f'{old_salary}->{new_salary}')
def remove_hra(salary):
    new_salary = salary - salary*.05
    print(f'{salary}-.{new_salary}')

In [15]:
update_salary(10000)
remove_hra(18000)

10000->10800.0
18000-.17100.0

In [16]:
def total(a,b,c,d,e):
    s = a+b+c+d+e
    print(s)

In [17]:
total(1,2,3,4,5)

15

# function with return type and parameters

In [18]:
def update_salary(old_salary):
    new_salary = old_salary+old_salary*.08
    return new_salary
def remove_hra(salary):
    new_salary = salary - salary*.05
    return new_salary

In [19]:
print(update_salary(10000))
print(remove_hra(10000))

10800.0
9500.0

In [20]:
salary = update_salary(20000)
print(salary)

21600.0

In [21]:
x = ['apple','banana','cherry']
''.join(x).upper()               #chaining function

'APPLEBANANACHERRY'

In [22]:
update_salary(10000) + 5000

15800.0

In [24]:
remove_hra(update_salary(15000))

15390.0

# wap to return true or false , if a no. is even or not
# waf to remove all vowels from a sentence given in a function
# waf to return the second highest value from a list given as parameter

In [25]:
def value(a):
    if a%2==0:
        return(True)
    else:
        return(False)

In [26]:
value(4)

True

In [1]:
def vowed(f):
    s = f
    
    for char  in 'aeiouAEIOU':
       s=  s.replace(char,' ')
    return s

In [2]:
f = input('enter ur string')
vowed(f)

'th r   s  n str ng'

In [1]:
def high(s):
    x = s
    x.sort()
    return x[-2]

In [2]:
s = [23,24,56,86]
print(high(s))

56

In [22]:
def is_even(number):
    if number%2 == 0:
        return True
    return False
def remove_vowels(sentence):
 for v in 'aeiouAEIOU':
    sentence = sentence.replace(v,' ')
 return sentence
def max_2(num_list):
    num_list.sort()
    return num_list[-2]

In [23]:
print(is_even(121))
print(remove_vowels('welcome to coding function in python'))
print(max_2([22,44,55,66,99]))

False
w lc m  t  c d ng f nct  n  n pyth n
66

In [24]:
def eq_1(x,y,z):
    return x**y-y**z

In [31]:
print(eq_1(2,5,7))# normal argument
print(eq_1(x=2,y=6,z=9)) # keyword argument/ named argument
print(eq_1(x=8,y=8,z=7))# keyword argument/ named argument
print(eq_1(8,y=9,z=7))# keyword argument/ named argument

-78093
-10077632
14680064
129434759

In [29]:
print('helo','is','not','hello', sep = '\n')

helo
is
not
hello

In [30]:
'we are not going to stop writing'.split('o')

['we are n', 't g', 'ing t', ' st', 'p writing']

In [33]:
def add4(x,y,z=0,z2=0):
    return x+y+z+z2

In [35]:
print(add4(1,2,3,4))
print(add4(1,2))
print(add4(1,2,z=3,z2=4))
print(add4(1,2,z2=13,z=12))

10
3
10
28

In [36]:
def count_zeros(*nums):
    if len(nums)>0:
        return nums.count(0)

In [40]:
print(count_zeros())
print(count_zeros(1,2,34,0,9,7,0,))
print(count_zeros(0,9,0,0,0,0))

None
2
5

In [46]:
def adder(*args): # *  means unlimited arguments
    if len(args)>0:
        return sum(args)
    return 0

In [45]:
print(adder())
print(adder(1,23,45))

0
69