<a href="https://colab.research.google.com/github/salman98er/Python_Projects/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python has 2 loops
 # for
# while

In [ ]:
x = 'PYTHON'
for i in x:
    print(i)

P
Y
T
H
O
N

In [ ]:
fruits  = ['apple','banana','lemon']
for item in fruits:
  print(f'I have {item}')

I have apple
I have banana
I have lemon

In [ ]:
movies = ['chandigarh kare aashiqui','the amazing spiderman','sooryavanshi']
for movie in movies:
  
  print(movie,len(movie))

chandigarh kare aashiqui 24
the amazing spiderman 21
sooryavanshi 12

#settings
#for loop with  counter
#enumerate means counting

In [ ]:
for i,name in enumerate(movies):
    print(f'{i+1} - {name}')

1 - chandigarh kare aashiqui
2 - the amazing spiderman
3 - sooryavanshi

#range

In [ ]:
for i in range(8):
  print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5
you got point 6
you got point 7

In [ ]:
for i in range(2,10):
  print('sheep no.',i)

sheep no. 2
sheep no. 3
sheep no. 4
sheep no. 5
sheep no. 6
sheep no. 7
sheep no. 8
sheep no. 9

In [ ]:
for  i in range(2,10 ,2):
      print("numbers = ",i)

numbers =  2
numbers =  4
numbers =  6
numbers =  8

In [ ]:
for num in range(10,5,-1): #reverse loop
  print(num)

10
9
8
7
6

In [ ]:
for i in range(10):#pattern loop
  print(i*"na")

na
nana
nanana
nananana
nanananana
nananananana
nanananananana
nananananananana
nanananananananana

#wap to print if nos are even or odd from 1,100
#wap to print the sum of all even nos from 2 to 100
#wap to print the average of all odd nos from 1 to 100

In [ ]:
for i in range(1,101):
  if i%2==0:
    print(i,'is even')
  else:
    print(i,'is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even

In [ ]:
total = 0
for i in range(2,101):
   if  i%2==0:
      total = total+i
print(total)

2550

In [ ]:
su = 0
avg =0
for i in range(1,101):
   su =su+i
   avg = su/100
print(avg)

50.5

#naive implementation

In [ ]:
print(1,2,3,4,5,sep=",")
print(2,4,6,8,10,sep=",")
print(3,6,9,12,15,sep=",")
print(4,8,12,16,20,sep=",")
print(5,10,15,20,25,sep=",")

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

# for dynamic  rows

In [ ]:
# for dynamic  rows
for i in range(1,6):
  print(1*i,2*i,3*i,4*i,5*i,sep=',')

1,2,3,4,5
2,4,6,8,10
3,6,9,12,15
4,8,12,16,20
5,10,15,20,25

#best implementaation for dynamic rows and columns

In [ ]:
#best implementaation for dynamic rows and columns
for row in range(1,6):
  for col in range(1,6):
    print(row *col,end=' ') 
  print()  #line changing

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
x = 1
while x<5:
  print('run')
  x+=1
print("stop")

run
run
run
run
stop

In [ ]:
# a complex program
n =10
sum = 0
i=1
while i<=n:
  sum = sum+i 
  i=i+1
print('the sum is ',sum)

the sum is  55

In [ ]:
input()

''

In [ ]:
poem=' '
while input('do you want to write another link[y/n]')=='y':
  line=input('>>>')
  poem+=line
chars=len(poem)
print(f'total characters in poem is {chars}')

do you want to write another link[y/n]y
>>>twinkl twinkle littlt star
do you want to write another link[y/n]n
total characters in poem is 27
do you want to write another link[y/n]n
total characters in poem is 1

In [ ]:
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x:
  if isinstance(i,str): #type another 
    continue #
  total+=i
print(total)

55

In [ ]:
x = [1,2,'',3,4,5,'',6,7,'',8,9,10]
total = 0
for i in x:
  if isinstance(i,int): #type anoth
    total+=i
print(total)

55

In [ ]:
poem = " "
while True:
  line= input("enter your poem")
  if line:
    poem+=line+'\n'
  else:
    break
print("total chars",len(poem))
print(poem)

enter your poemtwinkle twinkle little star
enter your poemtwinkle twinkle little star
enter your poem
total chars 57
 twinkle twinkle little star
twinkle twinkle little star