# set 
- set is mutable 
- set  is hetrogenous 
- set can have unique value
- set is uninndexed and unordered
- setnuses{}

In [3]:
a = set()
b = {1,2,3,4}
c = set([1,2,3,4])
print(a,b,c)

set() {1, 2, 3, 4} {1, 2, 3, 4}

In [4]:
a.add(98)
a

{98}

In [5]:
d = {1,2,3,4,5,3,4,2,5,6,79,9,9,9}
d

{1, 2, 3, 4, 5, 6, 9, 79}

In [6]:
d.remove(3)

In [7]:
d

{1, 2, 4, 5, 6, 9, 79}

In [8]:
x = set()
for i in range(5):       # set doesn't take any duplicate value
    val = input('enter a value')
    x.add(val)
print(x)

{'67', '98', '89', '45'}

In [9]:
for i in d:
    print(i)

1
2
4
5
6
9
79

In [10]:
for name in x:
    print(name,end=" ")

67 98 89 45

In [11]:
x.update (['Ali','Ahemad','hassan'])
print(x)

{'89', 'Ali', '98', 'hassan', '67', 'Ahemad', '45'}

# functions
- adding functions

In [13]:
sa = {1,2,3,4,5,6}
sb = {7,6,8,9,5,2}
print(sb.union(sa))
print(sb|sa)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
print(sb.intersection(sa))
print(sb&sa)

{2, 5, 6}
{2, 5, 6}

In [16]:
print(sb.difference(sa))
print(sb - sa)

{8, 9, 7}
{8, 9, 7}

In [17]:
print(sb.symmetric_difference(sa))
print(sb^sa)         #another form

{1, 3, 4, 7, 8, 9}
{1, 3, 4, 7, 8, 9}

In [18]:
sc = {1,2,3,4,5,6,7,8,9}
sd = {11,12,13}

In [19]:
sa.issubset(sc)

True

In [20]:
sb.issubset(sd)

False

In [21]:
sd.issubset(sc)

False

# task
- wap to take 10 integers in a set from the user and then display from the sum

In [30]:
a = set ()
for i in range(11):
    val= int(input("enter a value"))
    a.add(val)
print(a)

{32, 34, 67, 6, 12, 45, 78, 76, 54, 889}

In [31]:
print(sum(a))

1293